@using PetsWebApp.Web.ViewModels
@model PetViewModel
@{
    ViewData["Title"] = "RequestsForAdoption";
}

<h1>RequestsForAdoption</h1>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Requests</th>
        </tr>
    </thead>
    <tbody>@*
         @foreach (var pet in  )
        {
        <tr>
        <td>@Html.ActionLink(pet.Name , "Edit", "PetPost", new { id = pet.Id }, null)</td>
        </tr>
        }*@
    </tbody>
</table>
